/* Global */

#container {
    background-color: grey;
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
}

header, main, footer {
    margin: 10px;
}

/* Header Start */

header {
    background-color:whitesmoke;
    height: 200px;
    margin-top: 0;
}

/*Header End */

/*Main Start*/

main {
    background-color: whitesmoke;
    padding-top: 10px;
}

#main-gallery {
    background-color: peachpuff;
    height: 300px;
    margin: 0px 10px 10px 10px;
    text-align: center;
    padding-bottom: 20px;

}

#main-gallery > div {
    background-color: white;
    width: 28%;
    height: 85%;
    display: inline-block;
    margin: 1%;
}

#flexbox-gallery {
    display: flex;
    height: 300px;
    background-color: powderblue;
    margin: 0 10px;
}

#flexbox-gallery div {
    flex-grow: 1;
    background-color: white;
    margin: 10px;
}
/*Main End*/

/*Footer Start */

footer {
    background-color:whitesmoke;
    height: 100px;
    margin-bottom: 0px;

}
/*Footer End */